/*Page Formatting*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Formmating */
#header {
    background-color: #4f78e7;
    display: inline-block;
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 10px;
}

#header img {
   width: 400px; 
}

/* Navbar Formatting*/
#navbar {
    background-color: #133590;
    color: #fffff5;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
}

#navbar li {
    font-size: 20px;
    padding: 8px 0px;
    width: 150px;
}

#navbar a {
    color: #fffff5;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 15px;
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-links li:hover {
    background-color: #4f78e7;
    border-radius: 5px;
}

.active {
    background-color: #4f78e7;
    border-radius: 5px;
}

/* Hamburger Menu */

.chevron {
    display: none;
    background-color: #000000;
    width: 30px;
    height: 8px;
    margin: 2px;
}

.hamburger.active .chevron:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .chevron:nth-child(2) {
    opacity: 0;
}

.hamburger.active .chevron:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Footer Formatting */

#footer {
    background-color: #4f78e7;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer img {
    width: 35px;
    border-radius: 10px;
    padding-left: 25px;
}

#footer a {
    text-decoration: none;
    color: #000000;
}

.footernav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Main Formatting */

#main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 10px;
    flex-grow: 1;
}

.news {
    width: 50%;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
   
}

.newsitem {
    text-align: start;
    font-size: 20px;

}

#main p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.worshipitem {
    text-align: start;
    font-size: 20px;
    text-align: center;
}

.worship {
    width: 50%;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.location {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Ministry Formatting */

.communion {
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
    width: 50%;
    margin-top: 25px;
}

.communion img {
    width: 50%;
}

/* Contacts Formatting */

.contacts {
    width: 50%;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.contacts div {
    padding: 15px;
    font-size: 20px;
}

.contacts h1 {
    padding-bottom: 25px;
}

.spacing {
    margin-bottom: 25px;
}

.highlight {
    font-weight: 700;
}

.contacts ul {
    list-style-type: none;
}

.contacts li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.policy {
    margin: 25px;
    font-size: 20px;
}

.policy h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.policy ul {
    padding: 25px;
}

/* Responsive Sizing */

@media screen and (max-width:768px) {

    .hamburger {
         position: absolute;
         top: 125px;
         right: 10px;
    }

    #navbar ul {
         display: flex;
         flex-direction: column;
    }

    .nav-links {
         background-color: #133590;
         position: fixed;
         top: 150px;
         top: -100%;
         width: 100%;
         height: 50%;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
    }

    .chevron {
         display: block;
         cursor: pointer;
    }

    .nav-links.active {
         top: 165px;
    }

    .worship {
        width: 80%;
    }

    .news {
        width: 80%;
    }

    .contacts {
        width: 80%;
    }

    .communion {
        width: 80%;
    }
}

