* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    background: #F8F5EF;
}


/* Header Sytling takes 185px height */
#header {
    background: #a4c7ef;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 175px;
    text-align: center;
    padding-top: 10px;
}
#header img {
   width: 100%; 
   max-width: 450px; /*responsive as parent is set to 100% */
   height: auto;
   padding-top: 15px;
}

#header h1{
    font-size: 1.5rem;
}

/* Navbar Styling takes up 51px height*/
#navbar {
    background: #a4c7ef;
    padding: 5px 0;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

#navbar a {
    display: inline-block;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    padding: 8px 0px;
    width: 150px;
    text-decoration: none;
}

.nav-links {
    align-items: center;
    text-align: center;
}


#navbar a:hover {
    background-color: #D7E6F5;
    cursor: pointer;
    border-radius: 5px;
}

.active {
    background-color: #C4D8EE;
    border-radius: 5px;
}


/* Hamburger Menu Sytling*/

.chevron {
    display: none;
    background-color: #000000;
    width: 30px;
    height: 8px;
    margin: 2px;
}

.hamburger.active .chevron:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .chevron:nth-child(2) {
    opacity: 0;
}

.hamburger.active .chevron:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Footer Styling */

footer {
    background: #a4c7ef;
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #000000;
}

/*Homepage Styling */

.news-and-events {
    background: #FFFFFF;
    width: 80%;
    margin: 25px auto;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    padding: 5px 15px;
    font-size: 1.5rem;
}

.news-and-events h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.5rem;
}

.news-and-events ul {
    list-style-position: inside;
    list-style-image: url('../images/bible.png');
}

.news-and-events li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.services {
    background: #FFFFFF;
    width: 80%;
    margin: 25px auto;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    padding: 5px 15px;
    font-size: 1.5rem; 
}

.services h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.slide-show {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.slide-show h2 {
    padding-bottom: 20px;
}

.slide-show img {
    width: 300px;
}

.slide-show a {
    display: inline-block;
    width: 100px;
    padding: 10px;
    border: 1px solid #000000;
    background: #C4D8EE;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
}

.location {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/*Faith Formation Page Styling*/

.communion {
    background: #FFFFFF;
    text-align: center;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    width: 80%;
    margin: 25px auto;
    padding: 5px;
}

.communion img {
    width: 300px;
}

.office-hours {
    background: #FFFFFF;
    width: 80%;
    margin: 25px auto;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    padding: 5px;
}

.office-hours h2 {
    text-align: center;
    margin-bottom: 8px;
}

.office-hours div {
    text-align: center;
    margin-bottom: 8px;
}

/*Ministry Page Styling*/

.confirmation {
    background: #FFFFFF;
    width: 80%;
    margin: 25px auto;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    padding: 10px;
}

.confirmation h2 {
    text-align: center;
}

.confirmation p {
    font-size: 1.5rem;
}

.booklet {
    background: #FFFFFF;
    text-align: center;
    width: 80%;
    margin: 50px auto;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    padding: 10px;
}

.booklet a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 1.2rem;
}

.booklet img {
    width: 300px;
}


/*About Page Styling*/

.about {
    background: #FFFFFF;
    width: 80%;
    font-size: 1.2rem;
    margin: 25px auto;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    padding: 10px;
}

.about h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

/*Contact Page Styling*/

.contacts {
    background: #FFFFFF;
    width: 80%;
    margin: 25px auto;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}

.contacts h1 {
    font-size: 1.8rem;
    padding: 50px 0px;
}

.contacts h2 {
    font-size: 1.2rem;
    padding-top: 25px;
}

.facebook {
    background: #FFFFFF;
    width: 80%;
    margin: 25px auto;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    padding: 10px;
}

.facebook h2 {
    text-align: center;
}

.facebook ul {
    list-style-position: inside;
    list-style-image: url('../images/bible.png');
}

.facebook li {
    margin-top: 15px;
    margin-bottom: 15px;
}


/*Privacy Policy Page Styling*/

.policy {
    background: #FFFFFF;
    width: 80%;
    margin: 25px auto;
    border: 2px solid #C4D8EE;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    padding: 10px;
    padding-bottom: 50px;
}

.policy h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.policy p:first-child {
    text-align: right;
    padding-top: 25px;
    padding-right: 10px;
}

.policy ul {
    list-style-position: inside;
}

/* Responsive Sizing */



@media screen and (max-width: 850px) {

     .hamburger {
         position: absolute;
         top: 150px;
         right: 5px;
    }

    #header img {
        width: 300px; 
        padding-top: 15px;
     }

    #navbar ul {
         flex-direction: column;
         position: absolute;
         }

   .nav-links {
        background: #a4c7ef;
         position: fixed;
         top: -200%;
         width: 100%;
         height: 350px;
         align-items: center;
    }

    .chevron {
         display: block;
         cursor: pointer;
    }

    .nav-links.active {
         top: 186px;
    }

}

@media screen and (max-width: 360px) {
    .slide-show img {
    width: 90%;
    }

    .communion img {
    width: 90%;
    }

    .booklet img {
        width: 90%;
    }
}